#one{
    width: 200px;
    height: 200px;
    border-radius: 150px;
    background-image: url(photo/c1.jpeg);
    transition: width 2s, height 4s;
  }
  
  #one:hover {
    width: 300px;
    height: 300px;
    border-radius: 150px;
  }